@model PaginationInfoViewModel
@{
    var prevRouteData = Context.Request.Query.ToDictionary(x => x.Key, x => x.Value.ToString());
    if (prevRouteData.ContainsKey("pageId"))
        prevRouteData.Remove("pageId");
    prevRouteData.Add("pageId", (Model.ActualPage - 1).ToString());
    var nextRouteData = Context.Request.Query.ToDictionary(x => x.Key, x => x.Value.ToString());
    if (nextRouteData.ContainsKey("pageId"))
        nextRouteData.Remove("pageId");
    nextRouteData.Add("pageId", (Model.ActualPage + 1).ToString());
}
@*<div class="esh-pager">
    <div class="container-fluid">
        <article class="esh-pager-wrapper row">
            <nav>
                <div class="col-md-2 col-xs-12">
                    <a class="esh-pager-item-left esh-pager-item--navigable esh-pager-item @Model.Previous"
                       id="Previous"
                       asp-all-route-data="prevRouteData"
                       aria-label="Previous">
                        Назад
                    </a>
                </div>

                <div class="col-md-8 col-xs-12">
                    <span class="esh-pager-item">
                        Осображается @Model.ItemsPerPage из @Model.TotalItems сотрудников - страница @(Model.ActualPage + 1) - @Model.TotalPages
                    </span>
                </div>

                <div class="col-md-2 col-xs-12">
                    <a class="esh-pager-item-right esh-pager-item--navigable esh-pager-item @Model.Next"
                       id="Next"
                       asp-all-route-data="nextRouteData"
                       aria-label="Next">
                        Вперёд
                    </a>
                </div>
            </nav>
        </article>
    </div>
</div>*@

<div class="container-fluid">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item @Model.Previous">
                <a class="page-link " id="Previous" asp-all-route-data="prevRouteData" aria-label="Previous">&laquo;</a>
            </li>
            <li class="page-item active">
                <span class="page-link">
                    @(Model.ActualPage + 1)
                </span>
            </li>
            <li class="page-item @Model.Next">
                <a class="page-link " id="Next" asp-all-route-data="nextRouteData" aria-label="Next">&raquo;</a>
            </li>

        </ul>
    </nav>
</div>

