@model EmployerViewModel
@{
    ViewData["Title"] = "Детали сотрудника";
}

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">@Html.DisplayFor(model => model.FullName)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>Имя:</dt>
            <dd>@Html.DisplayFor(model => model.FirstName)</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Фамилия:</dt>
            <dd>@Html.DisplayFor(model => model.LastName)</dd>
        </dl>
        @if (!string.IsNullOrWhiteSpace(Model.MiddleName))
        {
            <dl class="dl-horizontal">
                <dt>Название модели:</dt>
                <dd>@Html.DisplayFor(model => model.MiddleName)</dd>
            </dl>
        }
        <dl class="dl-horizontal">
            <dt>Гендер:</dt>
            <dd>@Html.DisplayFor(model => model.Gender.GenderName)</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Название организации:</dt>
            <dd>@Html.DisplayFor(model => model.NameOrganization)</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Должность:</dt>
            <dd>@Html.DisplayFor(model => model.Position)</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Рабочий номер:</dt>
            <dd>@Html.DisplayFor(model => model.JobPhoneNumber)</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Личный номер:</dt>
            <dd>@Html.DisplayFor(model => model.PhoneNumber)</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Кабинет:</dt>
            <dd>@Html.DisplayFor(model => model.DepartmentNum)</dd>
        </dl>
    </div>
</div>